<h1 class="mt-5">Selectores Anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- Región -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente</label>
            <select class="form-select" formControlName="region">
                <option class="" value=""> -- Seleccione un continente -- </option>
                <option *ngFor="let region of regiones" [value]="region | lowercase"> {{region}} </option>
            </select>
        </div>
    </div>
    <!-- Paises -->
    <div class="row mb-3" *ngIf="paises?.length">
        <div class="col">
            <label class="form-label">País</label>
            <select class="form-select" formControlName="pais">
                <option class="" value=""> -- Seleccione País -- </option>
                <option *ngFor="let pais of paises" [value]="pais.cca3 | lowercase"> {{pais.name.common}} </option>
            </select>
        </div>
    </div>
    <!-- Fronteras -->
    <div class="row mb-3" *ngIf="fronteras.length > 0">
        <div class="col">
            <label class="form-label">Fronteras</label>
            <select class="form-select" formControlName="frontera">
                <option class="" value=""> -- Seleccione el país fronterizo -- </option>
                <option *ngFor="let frontera of fronteras" [value]="frontera.cca3"> {{frontera.name.common}} </option>
            </select>
        </div>
    </div>
    <!-- Etiqueta informativa -->
    <div *ngIf="cargando" class="row">
        <div class="col">
            <div class="alert alert-primary">
                <div class="spinner-border spinner-border-sm mr-2" role="status">
                </div>
                <span>Cargando</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" type="submit">Buscar</button>
        </div>
    </div>
</form>

<h6>Formulario Valid</h6>
<pre>{{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>